.login-content{
    display: block;
    max-width: 500px;
    margin: 0 auto;
}

.button{
    margin-top: 2em;
}

.login{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.login-link{
    margin-left: 0.5em;
}