<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cards</ion-title>
    <ion-buttons slot="end">
      <ion-icon size="large" name="log-out-outline" (click)="logout()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cards</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-lg="4" *ngFor="let room of rooms">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{ room.status }}</ion-card-subtitle>
            <ion-card-title>{{ room.name }}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-button (click)="updateRoom(room)">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="deleteRoom(room)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm="6" size-lg="4" *ngFor="let image of albumPhotos">
        <ion-item-sliding>
          <ion-item>
            <img [src]="image.url">
          </ion-item>
      
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="deleteImg(image)">
              <ion-icon size="large" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-col>

      <ion-col size="12" size-sm="6" size-lg="4">
        <ion-card *ngIf="uploading">
          <ion-item>
            <ion-label>{{ percent }}%</ion-label>
          </ion-item>
          <ion-card-content>
            <ion-progress-bar value="photosService.uploadPercent | async"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="secondary" (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="secondary" (click)="addRoom()">
        <ion-icon name="duplicate"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
